body {
  background-color: rgb(255, 255, 255);
  margin: 0px;
}

.mainBtn {
  background-color: #8d7a53;
  color: black;
  opacity: 0.9;
  font-weight: bold;
  margin-top: 1px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Share Tech Mono", monospace;
  border: none;

  /* ett sätt att ändra på beteendet när musen är över elementet */
  &:hover {
    cursor: pointer;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("images/headerprofil/sssss.jpg");
  .mainBtn {
    margin-bottom: 9px;
    margin-top: 5px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    min-width: 350px;

    /* Här specificerar jag att mina anchor taggar ska vara vita för att det inte ska påverka min header senare. */
    a {
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-decoration: none;
      margin-top: 20px;
      font-size: 13px;
    }

    .active {
      text-decoration: underline;
    }
  }

  h1 {
    font-family: "Rubik Wet Paint", serif;
    font-size: 30px;
  }
}

/* här bestämmer jag possition på bilderna */

.homePic {
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  /* här specificerar jag bilderna isäg alltså storlek, höjd, space */
  .imgHome {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.product {
  margin-bottom: 40px;
  .largeImg {
    width: 100%;
  }
  /* flex för att få bilderna på rad, och spacebetween för att få mellanrum mellan bilderna, och wrap för att få överflödiga bilder på ny rad. */
  .preview {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    img {
      width: 30%;
      margin-top: 10px;
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;

    select {
      width: 90px;
      border: 1px solid #333333;
      border-radius: 4px;
      margin-bottom: 7px;
    }

    h3,
    h4,
    p {
      font-family: "Rokkitt", serif;
      font-weight: 300;
      margin: 0;
    }
    h3 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    h4 {
      color: #ff0c0c;
    }

    .orginalPrice {
      color: black;
    }

    p {
      span {
        color: #ff0c0c;
      }
    }
    .mainBtn {
      /* sätter 5px padding på top & bott sen 20 för sidorna på knapparna */
      padding: 5px 20px;
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }
}

footer {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;

  nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    a {
      color: #ffffff;
      mix-blend-mode: difference;
      text-decoration: none;
      margin-top: 20px;
      font-size: 13px;
    }
  }

  h2 {
    font-family: "Rubik Wet Paint", serif;
    color: #ffffff;
    mix-blend-mode: difference;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .hiroshi {
    height: 50px;
    opacity: 0.6;
  }
  p {
    color: #ffffff;
    mix-blend-mode: difference;
    font-size: 10px;
  }
}

/* Här anpassar jag till mobile first  */

@media (min-width: 600px) {
  header {
    h1 {
      font-size: 37px;
    }
  }

  .homePic {
    height: 100vh;

    .imgHome {
      width: 50%;
    }
  }
  .product {
    width: 50%;
    padding: 10px;
    /* här sätter jag box sizing border box för att kunna använda padding utan att påverka elemenets sanna storlek */
    box-sizing: border-box;
  }
  main {
    display: flex;
    flex-wrap: wrap;
  }
}
