body {
  background-color: rgb(255, 255, 255);
  margin: 0px;
}

.mainBtn {
  background-color: #8d7a53;
  color: black;
  opacity: 0.9;
  margin-top: 1px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Share Tech Mono", monospace;
  border: none;
}

.buyBtn {
  padding: 0px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("fotos/sssss.jpg");
  .mainBtn {
    margin-bottom: 9px;
    margin-top: 5px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    min-width: 350px;

    /* Här specificerar jag att mina anchor taggar ska vara vita för att det inte ska påverka min header senare. */
    a {
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-decoration: none;
      margin-top: 20px;
      font-size: 13px;
    }

    .active {
      text-decoration: underline;
    }
  }

  h1 {
    font-family: "Rubik Wet Paint", serif;
    font-size: 30px;
  }
}

/* här bestämmer jag possition på bilderna */

.homePic {
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  /* här specificerar jag bilderna isäg alltså storlek, höjd, space */
  .imgHome {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

footer {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;

  nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    a {
      color: #ffffff;
      mix-blend-mode: difference;
      text-decoration: none;
      margin-top: 20px;
      font-size: 13px;
    }
  }

  h2 {
    font-family: "Rubik Wet Paint", serif;
    color: #ffffff;
    mix-blend-mode: difference;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .hiroshi {
    height: 50px;
    opacity: 0.6;
  }
  p {
    color: #ffffff;
    mix-blend-mode: difference;
    font-size: 10px;
  }
}

/* Här anpassar jag till mobile first  */

@media (min-width: 600px) {
  header {
    h1 {
      font-size: 37px;
    }
  }

  .homePic {
    height: 100vh;

    .imgHome {
      width: 50%;
    }
  }
}
